.kanit700 {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

.kanit400 {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

.background-yellow {
    background-color: rgb(36, 36, 36);
}

.background-cinza {
    background-color: rgb(161, 161, 161);
}

.colorgeral {
    background: #8a2be2;
}

